# nix
Builds/*
!Builds/*/
Builds/*/*
!Builds/arch/PKGBUILD
!Builds/debian/changelog
!Builds/debian/fpm-build.sh
!Builds/debian/push-package.sh
!Builds/CodeBlocksLinux/AvCaster.cbp
!Builds/CodeBlocksWindows/AvCaster.cbp
!Builds/GnuMakefile/Makefile
!Builds/MacOSX/AvCaster.xcodeproj
!Builds/MacOSX/Info.plist
!Builds/MacOSX/RecentFilesMenuTemplate.nib
!Builds/VisualStudio2008/AvCaster.sln
!Builds/VisualStudio2008/AvCaster.vcproj
!Builds/VisualStudio2008/resources.rc
!Builds/VisualStudio2015/AvCaster.sln
!Builds/VisualStudio2015/AvCaster.vcxproj
!Builds/VisualStudio2015/AvCaster.vcxproj.filters
!Builds/VisualStudio2015/resources.rc
*~
*.kate-swp
.kateproject*

# win
*Debug
*Release
*.ncb
*.suo
*.user
[Tt]humbs.db
*.DS_Store

# c::b
*.layout

# etc
mk*
dbg*
