# links
cppcheck-filtered
dbg
mk
mk-clean
mk-reset

# builds
Builds/*
!Builds/*/
Builds/*/*
!Builds/CodeBlocksLinux/AvCaster.cbp
!Builds/CodeBlocksWindows/AvCaster.cbp
!Builds/Makefile/Makefile
!Builds/MacOSX/AvCaster.xcodeproj
!Builds/MacOSX/Info.plist
!Builds/MacOSX/RecentFilesMenuTemplate.nib
!Builds/Packaging/av-caster.dsc
!Builds/Packaging/av-caster.spec
!Builds/Packaging/debian.changelog
!Builds/Packaging/debian.control
!Builds/Packaging/debian.rules
!Builds/Packaging/PKGBUILD
!Builds/Packaging/README.md
!Builds/Scripts/cppcheck-filtered
!Builds/Scripts/dbg
!Builds/Scripts/mk
!Builds/Scripts/mk-clean
!Builds/Scripts/mk-reset
!Builds/Scripts/README.md
!Builds/Scripts/setup-build-helpers
!Builds/VisualStudio2008/AvCaster.sln
!Builds/VisualStudio2008/AvCaster.vcproj
!Builds/VisualStudio2008/resources.rc
!Builds/VisualStudio2015/AvCaster.sln
!Builds/VisualStudio2015/AvCaster.vcxproj
!Builds/VisualStudio2015/AvCaster.vcxproj.filters
!Builds/VisualStudio2015/resources.rc

# nix
*~
*.kate-swp
.kateproject*

# win
*Debug
*Release
*.ncb
*.suo
*.user
[Tt]humbs.db
*.DS_Store

# c::b
*.layout
