# nix
Builds/LinuxMakefile/build
Builds/LinuxMakefile/.gdbinit
*~
*.kate-swp
.kateproject*

# win
*Debug
*Release
*.ncb
*.suo
*.user
[Tt]humbs.db
*.DS_Store

# etc
mk*
dbg*
Source/OutputConfig.cpp
Source/OutputConfig.h

