[Desktop Entry]
Name=AvCaster
Comment=Desktop, webcam, and audio streaming tool
Categories=AudioVideo;Network;
Exec=av-caster
Icon=avcaster-logo-48
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
